.carousel {
    margin-left: 16%;
    margin-top: 5px; 
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 500px;
    background-color: rgb(249, 247, 247);
    box-shadow: 0px 17px 28px rgb(73, 73, 73);
  }
  
  .slide {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;
  }
  
  .slide-hidden {
    display: none;
  }
  
  .arrow {
    position: absolute;
    top:50%;
    filter: drop-shadow(0px 0px 5px #555);
    width: 2rem;
    height: 2rem;
    color: white;
    background-color: black;
    border-radius: 30%;
  }
  
  .arrow:hover {
    cursor: pointer;
  }
  
  .arrow-left {
    left: 1rem;
    color: rgb(91, 210, 247);
  }
  
  .arrow-right {
    right: 1rem;
    color: rgb(91, 210, 247);
  }
  
  .indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;
  }
  
  .indicator {
    background-color: white;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #444444;
    margin: 0 0.2rem;
    cursor: pointer;
  }
  
  .indicator-inactive {
    background-color: grey;
  }

  .head1{
    /* margin-top: 1%; */
    /* margin-bottom: 3%; */
    background-color: #444444;
    color: white;
    padding-left:210px ;
    padding-right:210px ;
    padding-bottom:20px ;
    padding-top:20px ;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
  }

  .btnc{
    background-color: rgb(91, 210, 247);
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 400px;
    border-radius: 40%;
    margin-top: 2%;
    padding-left:34px;
    padding-right:34px;
    padding-top:4px;
    box-shadow: 0px 4px 5px #444444;
    padding-bottom:4px;
  }

.buttons{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url('../components/img.png');
  background-repeat: no-repeat;
  background-position: 290px;
}

   .video-slide {
     display: flex;
    flex-wrap: wrap;
     /* grid-gap: 0px;   */
    flex-direction: column;
    justify-items:space-evenly ; 
    /* align-items:self-start;  */
    overflow: hidden;
    font-size: 4px;
    font-style: italic;
  } 
  
  .video-container {
    width: 100%;
    height: 300px; 
  }
  
  .video-container iframe {
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .head2{
    background-color: #1ecee5;
    color: rgb(10, 9, 9);
    padding-left:110px ;
    padding-right:110px ;
    padding-bottom:20px ;
    padding-top:20px ;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
  }

  .head3{
     font-size: 15px;
     font-weight: bold;
  }

  .icons{
    color: black;
    font-size: 45px;
  }
   
 .title_m{
  font-weight: bold;
  font-size: 45px;
  color: black;
 }

  .bee{
    color:rgb(6, 22, 245);
    font-size: 45px;
    text-decoration: none;
    font-weight: bold;
  }

  .start-button{
    display: flex-end;
    margin-top: 2%;
    margin-left: 70%;
    color: white;
    background-color: black;
    font-weight: bolder;
    box-shadow: 2px 2px rgb(111, 200, 244);
  }

  .start-button:hover{
    background-color: rgb(134, 233, 157);
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px rgb(10, 10, 10);
  }